@model Microsoft.Teams.Apps.FAQPlusPlus.Configuration.Models.SaveConversationsViewModel

@using (Ajax.BeginForm("SaveSaveConversationsTextAsync", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSaveSuccess", OnFailure = "onSaveFailure" }, htmlAttributes: new { @class = "formToSubmit" }))
{
    <div class="form-group" data-form-name="saveConversationsText">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.SaveConversationsText, htmlAttributes: new { @class = "font-bold" })
            <span class="mandatoryField">*</span>
        </div>
        <div class="col-lg-5">
            @*@Html.TextBoxFor(model => model.SaveConversationsText, htmlAttributes: new { @class = "form-control saveConversationsTextIdTextBox toggleTextBox", @placeholder = "Ingrese True o False si desea guardar las conversaciones." })*@
            @Html.CheckBoxFor(model => bool.Parse(model.SaveConversationsText), htmlAttributes: new { @class = "form-control saveConversationsTextIdTextBox toggleCheckBox", @placeholder = "Marque si desea guardar las conversaciones." })*@
            @Html.ValidationMessageFor(model => model.SaveConversationsText, "", htmlAttributes: new { @class = "error-message" })
        </div>
        <div class="col-lg-1">
            <span id="SaveConversationsTextStorageStatusIcon"></span>
        </div>
        <div class="col-lg-3">
            <input type="button" value="OK" class="btn btn-primary toggleToEditButton" id="saveConversationsTextSubmitButton" />
            <span class="glyphicon glyphicon-info-sign infoSignMargin" data-toggle="tooltip" title="@Strings.SaveConversationsTextToolTipHoverMessage"></span>
        </div>
        <div class="col-lg-offset-3 col-lg-5">
            <div id="saveConversationsTextStorageStatusMessage" class="error-message"></div>
        </div>
    </div>
}